body, html {
	height: 100%;
	margin: 0 auto;
	padding: 0 auto;
}

body {
	background: yellow;
}

div {
	display: block;
}

#red {
	background: #ec1212;
	height: 24%;
}

#blue {
	background: #1242ec;
	width: 74%;
	height: 90%;
	margin: 0 auto;
}

#green {
	background: #2e7d16;
	margin: 0 auto;
	width: 74%;
	height: 20%;
}
