body, html {
	height: 100%;
	margin: 0px auto;
	padding: 0px auto;
}

.purple {
		background: #7c1c96;
		height: 10%;
	}

	div {
		display: block;
	}

	.red {
		background: #ec1212;
		width: 80%;
		height: 200%;
		margin: 0 auto;
		padding-top: 5%;
	}

	.blue {
		background: #1242ec;
		height: 30%;
		width: 70%;
		margin: 0 auto;
		margin-bottom: 2%;
		padding: 3%;
	}

	.yellow {
		background: #F9EF19;
		width: 25%;
		height: 60%;
		float: left;

	}

	.green {
		background: #2e7d16;
		width: 65%;
		height: 90%;
		float: right;
	}
